html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
.input {
  outline: none;
}

h2 {
  font-size: 26px;
  color: #696161;
}

.text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #848484;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Segoe WP Light";
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 39px 0 30px 0;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  max-width: 1012px;
}

.header .logo {
  width: 232px;
  font-family: "Trebuchet MS";
  font-size: 51px;
}

.header .logo span:nth-child(1) {
  color: #595959;
}

.header .logo span:nth-child(3) {
  color: #313131;
}

.header .logo .logo__circle {
  display: inline-block;
  position: relative;
  right: 2px;
  top: 2px;
  margin-right: 2px;
  width: 29px;
  height: 30px;
  background-color: #6dd025;
  border-radius: 50%;
}

.header .header__nav {
  position: relative;
  top: 5px;
}

.header .nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex: 0 1 461px;
  -ms-flex: 0 1 461px;
  flex: 0 1 461px;
}

.header .nav__link {
  padding: 10px 20px;
  font-family: "Segoe WPN";
  font-size: 23px;
  color: #7b7c7b;
  transition: 0.2s;
}

.header .nav__link:hover {
  background: #373737;
  color: #ffffff;
  transition: all 0.125s ease-in-out;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

.slider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1156px;
}

.wrapper__slider {
  margin: 116px 0 0 180px;
}

.slider-description {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 174px;
  color: #5d5d5d;
}

.slider-description__slider-meta {
  margin-top: 29px;
}

.slider-description .slider-description__header {
  font-size: 61px;
}

.slider-description .slider-description__header + span {
  padding-top: 10px;
  font-size: 47px;
}

.slider-meta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 11px 10px;
  width: 204px;
  background-color: #373737;
}

.slider-meta__icon {
  display: inline-block;
  width: 33px;
  height: 17px;
  background: url(../img/icons/camera.png) no-repeat;
}

.slider-meta__text {
  font-family: "Segoe WPN";
  font-size: 23px;
  color: #ffffff;
}

.content-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 1030px;
}

.wrapper__content-container {
  margin: 39px auto 0 auto;
}

.content-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-block__article-block {
  margin-top: 42px;
}

.sm-slider {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 677px;
  min-height: 244px;
}

.sm-slider__image {
  -webkit-flex: 0 1 308px;
  -ms-flex: 0 1 308px;
  flex: 0 1 308px;
}

.sm-slider-text-block {
  -webkit-flex: 0 1 342px;
  -ms-flex: 0 1 342px;
  flex: 0 1 342px;
}

.sm-slider-text-block .sm-slider-text-block__header {
  margin-top: -8px;
  font-size: 30px;
  line-height: 37px;
}

.sm-slider__text {
  max-width: 318px;
  margin-top: 12px;
}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 63px;
}

.button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31px;
  height: 39px;
}

.button-left {
  background: #7c7c7c;
}

.button-left__arrow {
  display: inline-block;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 6px;
  border-top: 2px solid rgba(255, 255, 255, 0.55);
  border-left: 2px solid rgba(255, 255, 255, 0.55);
}

.button-right {
  background: #989998;
}

.button-right__arrow {
  display: inline-block;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-right: 6px;
  border-top: 2px solid rgba(255, 255, 255, 0.55);
  border-left: 2px solid rgba(255, 255, 255, 0.55);
}

.article-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 680px;
}

.article-block__article {
  margin-bottom: 51px;
}

.article {
  width: 214px;
}

.article__meta {
  margin: 10px 0 10px 2px;
}

.article p {
  text-align: justify;
  padding-right: 10px;
}

.content-container__advt-container {
  margin: 0 23px;
}

.advt-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.advt-block-1 {
  width: 319px;
  height: 249px;
  border: 1px solid #e1dddd;
}

.advt-block-1__header {
  margin-top: 19px;
  text-align: center;
}

.advt-block-1__header span:nth-child(1) {
  font-family: "Segoe WPN";
  font-size: 21px;
  color: #9ba08d;
}

.advt-block-1__header span:nth-child(3) {
  font-family: "Segoe WP Bold";
  font-size: 39px;
  color: #b8dc58;
}

.advt-block-1__images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 auto;
  width: 236px;
}

.advt-block-1__tablet {
  width: 151px;
}

.advt-block-1__css {
  position: relative;
  top: -40px;
  width: 56px;
}

.advt-container__advt-block-1 {
  margin-bottom: 51px;
}

.advt-block-2 {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 319px;
  height: 271px;
  background-color: #86e7f0;
}

.advt-block-2__circle {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.advt-block-2__circle_white {
  top: -20px;
  width: 132px;
  height: 132px;
  background: #ffffff;
  z-index: 1;
}

.advt-block-2__circle_pink {
  top: -15px;
  width: 121px;
  height: 121px;
  background: #ef809f;
  z-index: 2;
}

.advt-block-2__number {
  text-align: center;
  color: #ffffff;
}

.advt-block-2__text-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 115px;
  width: 100%;
  color: #ffffff;
}

.advt-block-2__header {
  font-family: "SimploW90-CapsDEMO";
  font-size: 45px;
}

.advt-block-2__text {
  margin: 5px auto 4px auto;
  width: 240px;
  font-family: "Optima LT Roman";
  font-size: 23px;
  line-height: 28.43px;
}

.num-12 {
  font-family: "Segoe WPN";
  font-size: 72px;
  font-weight: 900;
}

.week {
  font-family: "Segoe WPN";
  font-size: 22px;
}

.advt-block-2__advt-button {
  margin: 0 auto;
  padding: 7px 0 5px 0;
}

.advt-button {
  width: 179px;
  font-family: "Optima LT Roman";
  font-size: 20px;
  border-radius: 5px;
  color: #ffffff;
}

.advt-button_blue {
  background: #58d1dc;
}

.advt-button_pink {
  background: #bb4465;
}

.advt-container__advt-block-2 {
  margin-bottom: 25px;
}

.advt-block-3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 319px;
  height: 271px;
  background: #393a39;
}

.advt-block-3__text-box {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Segoe WP Light";
  color: #ffffff;
}

.advt-block-3__header {
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
}

.advt-block-3__text {
  margin: 12px auto 0px auto;
  width: 251px;
  text-align: justify;
  line-height: 20px;
}

.feedback-form {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 257px;
}

.name-field,
.email-field {
  margin-bottom: 12px;
  padding: 4px;
  width: 100%;
  font-size: 14px;
  border: none;
  outline: 0;
  color: #787878;
}

.email-field {
  margin-bottom: 13px;
}

.submit-button {
  border: none;
  background-image: none;
  box-shadow: none;
}

.feedback-form__submit-button {
  padding: 4px 0 4px 0;
}

.advt-block-3__footer {
  padding-bottom: 6px;
  background: #bb4465;
}

.footer {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 87px;
  background: #393a39;
}

.footer__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.footer__text {
  margin-left: 615px;
  color: #ffffff;
}

.social-icons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 112px;
}

.footer__social-icons {
  margin-right: 205px;
}

.icon::before {
  content: '';
  display: inline-block;
  width: 27px;
  height: 27px;
}

.icon_f::before {
  background: url(../img/icons/icon_f.png) no-repeat;
}

.icon_t::before {
  background: url(../img/icons/icon_t.png) no-repeat;
}

.icon_y::before {
  background: url(../img/icons/icon_y.png) no-repeat;
}